<script>
  // join a room using the senderID and the recipientID with an x between them
  socket.emit('joinroom', { room: {{ senderId }} + 'x' + {{ recipientId }} });
  const msgSentSound = new Audio('/sounds/msg_sent.wav');

  function convertDate(date) {
    const newDate = new Date(date);
    var dateStr = 
    ("00" + (newDate.getMonth() + 1)).slice(-2) + "/" +
    ("00" + newDate.getDate()).slice(-2) + "/" +
    newDate.getFullYear() + " " +
    ("00" + newDate.getHours()).slice(-2) + ":" +
    ("00" + newDate.getMinutes()).slice(-2) + ":" +
    ("00" + newDate.getSeconds()).slice(-2);
    return dateStr;
  }

  function sendMessage() {
    const soundEnabled = localStorage.getItem("soundEnabled");
    if (soundEnabled == 1) msgSentSound.play();
    var msg = document.getElementById('message').value;
    if(msg.trim()) { 
      socket.emit('msg', { body: msg, sender_id: {{ senderId }}, recipient_id: {{ recipientId }} });
      document.getElementById('message').setSelectionRange(0,0);
      document.getElementById('message').value = '';
      document.getElementById('message').focus();
    }
  }

  function renderMessage(message) {
    document.getElementById('message-container').innerHTML += `<div class='${message.sender_id === {{senderId}} ? 'sentMsg' : 'recdMsg'}'><b>${message.user.username}</b> (${convertDate(message.createdAt)})<br /> ${message.body} </div>`;
  }
  
  socket.on('newmsg', function(data) {
    renderMessage(data);
    window.scrollTo(0,document.body.scrollHeight);
  })

  // when we receive the populateHistory event, clear the container, then fill it with the messages from the db
  socket.on('populateHistory', (history) => {
    document.getElementById('message-container').innerHTML = '';
    history.forEach((message) => {
      renderMessage(message);
    })
    window.scrollTo(0,document.body.scrollHeight);
  });
</script>

<div id='chat-container'>
  <h2>Conversation with <a href="/profile/{{recipientId}}">{{recipient_name}}</a></h2>
  <div id='message-container'></div>

  <div id="chat-textbox-container">
    <div id='error-container'></div>
    <form id="textbox-and-btn">
      <textarea id='message'></textarea>
      <button type='submit' name='button' id="chat-submit-btn">>>></button>
    </form>
  </div>
</div>


<script>
    document.getElementById('textbox-and-btn').addEventListener('submit', (e) => {
      e.preventDefault();
      sendMessage();
    });

    document.getElementById('message').addEventListener('keyup', (e) => {
      if (e.key === 'Enter' && !e.shiftKey) {
        document.getElementById('chat-submit-btn').click(); 
      }
    });
</script>