<div id="active-chats-container">
  {{#each activeChats}}
  <div>
    <a class="active-chat-btn" href='/chat/{{this.sender}}'><span class="sender-id">{{this.sender}}</span><span class="message-body">{{this.message}}</span><span class="read-status">{{#if this.read}}read{{else}}unread{{/if}}</span></a>
    <div>
      <form id='delete-conversation-form' name='delete-conversation-form' action='/api/users/delete-conversation' method='post'>
      <input type="hidden" name="deletedID" id="deleted-id" value={{this.sender}} />
      <button type="submit">Delete Conversation</button>
      </form>
      <form id='block-user-form' name='block-user-form' action='/api/users/block' method='post'>
      <input type="hidden" name="blockedID" id="blocked-id" value={{this.sender}} />
      <button type="submit">Block User</button>
      </form>
    </div>
  </div>
  {{/each}}
</div>