<script>

function sendSpark() {
  socket.emit('spark', { matchThisUser: '{{user.id}}' });
}

function deSpark() {
  socket.emit('despark', { unmatchThisUser: '{{user.id}}' });
}

</script>

<div id="profile-wrapper">

<div class="selfie-container">
{{#if user.profile_image}}
<img class="selfie" src='{{user.profile_image}}' />
{{/if}}
</div>

<div class="profile">
<section class="info">
<h2>{{user.username}}</h2>
{{#if user.first_name}} {{user.first_name}} {{/if}} {{#if user.last_name}} {{user.last_name}} {{/if}}
  {{interestFormatter user.sexual_orientation user.gender_identity}}
<br>
<i class="fas fa-globe"></i>  {{locationFormatter user.city user.state}}
{{#if user.github}}<p><i class="fab fa-github"></i>  <a href="https://github.com/{{user.github}}" target="new">{{user.github}}</a></p>{{/if}}
{{#if user.portfolio}}<p>Portfolio: <a href="{{user.portfolio}}" target="new">{{user.portfolio}}</a></p>{{/if}}
{{#if user.education}}<p></i> {{user.education}}</p>{{/if}}
{{#if user.birthday}}<p>Birthday: {{user.birthday}}</p>{{/if}}
{{#if user.years_coding}}<p>Years Coding: {{user.years_coding}}</p>{{/if}}
<br>
<div class="interact">
{{#if (ownProfile user.id userID)}} 
<p><a href="/profile/editor/">Edit your profile</a></p>
{{else}}
{{#if notMatched }}
  <p><a id="match-btn" href="/profile/{{user.id}}" onclick='sendSpark()'>Light a spark</a></p>
  {{else}}
  <p><a id="unmatch-btn" href="/profile/{{user.id}}" onclick='deSpark()'>Extinguish the spark</a></p>
{{/if}}
<p><a href="/chat/{{user.id}}">Message</a></p>
{{/if}}
</div>
</section>
</div>

{{#if user.bio}}<p id="profile-bio" class="bio"> {{user.bio}}</p>{{/if}}

<br>
<div class="skills">
{{#if skills}}
<ul>
  {{#each skills}}
    <li>{{this.skill_name}}</li>
  {{/each}}
</ul>
{{/if}}
</div>


{{!-- Sorry but no --}}
{{#if user.github}}
<div id="container">
    <div>
        <a href="https://github.com/{{user.github}}">
        <span id="githubusername">
        {{user.github}}
        </span>
        </a>
        <div id="repoContainerEl">

        </div>
    </div>
</div>
<script src="/js/gitStarred.js"></script>
{{/if}}