<div id="wrapper">
    <div id='edit-h2'>
        <h2>{{username}}'s Profile Editor</h2>
        <button class='btn long-btn' id='mute-sound-btn'></button>
    </div>
<form autoComplete="off" id="editorForm">
    <div>
        <label for='first_name' class="form-label">First name</label>
        <input autocomplete="none" class="form-field profile-input" type='text' name='first_name' id='first_name' value='{{user.first_name}}'>
    </div>
    <div>
        <label for='last_name' class="form-label">Last name</label>
        <input autocomplete="none" class="form-field profile-input" type='text' name='last_name' id='last_name' value='{{user.last_name}}'>
    </div>
    <div>
        <label for='city' class="form-label">City</label>
        <input autocomplete="none" class="form-field  profile-input" type='text' name='city' id='city' value='{{user.city}}'>
    </div>
    <div class="dropdown">
        <label for="state" class="form-label">State:</label>
        <div class="form-field">
            {{> states-dropdown}}
        </div>
    </div>
    <div>
        <label for='birthday' class="form-label">Birthday </label>
        <input class="form-field profile-input" type='date' name='birthday' id='birthday' value='{{user.birthday}}'>
    </div>
    <div>
        <label for="years_coding" class="form-label">How many years have you been coding?</label>
        <input class="form-field profile-input" type='number' name='years_coding' id='years_coding' value='{{user.years_coding}}'>
    </div>
    <div>
        <label for='github' class="form-label">GitHub username</label>
        <input class="form-field profile-input" type='text' name='github' id='github' value='{{user.github}}'>
    </div>
    <div>
        <label for='portfolio' class="form-label">Portfolio URL</label>
        <input class="form-field profile-input" type='url' name='portfolio' id='portfolio' value='{{user.portfolio}}'>
    </div>

    <div class="dropdown">
        <label for='education' class="form-label">What is your highest level of education?</label>
        <div class="form-field">
            <select class='profile-input' name='education' id='education' value="{{user.education}}">
                <option value=''>Prefer not to say</option>
                <option value='Boot Camp Certification'>Boot Camp Certification</option>
                <option value='High School'>High School</option>
                <option value="2-Year College">2-Year College</option>
                <option value="4-Year College">4-Year College</option>
                <option value="Graduate School">Graduate School</option>
                <option value='PhD'>PhD</option>
            </select>
        </div>
    </div>
    <div class="dropdown">
        <label for='gender_identity' class="form-label">What is your gender identity?</label>
        <div class="form-field">
        {{> genders-dropdown }}
        </div>
    </div>
    <div class="dropdown">
        <label for='sexual_orientation' class="form-label">What is your sexual orientation</label>
        <div class="form-field">
        {{> sexuality-dropdown }}
        </div>
    </div>  
    <div>
        <label for='bio' class='form-label'>Add a user bio</label>
        <textarea class"bio-text profile-input form-field" name='bio' id='bio'>{{user.bio}}</textarea>
    </div>

    <div id="skill-list">
        <p>What are your skills?</p>
        <div class="boxes">
            {{> skills-checkboxes }}
        </div>
    </div>
    <div>
        <button class='btn editor-btn' type='submit'>Update</button>
    </div>
    <ul class='error-text' id="err-msg"></ul>
</form>

<div id='img-editor-container'>
    <img src="{{user.profile_image}}" width="200px" />

    <form id='image-form' name='image-form' action='/api/images/upload' enctype="multipart/form-data" method='post'>
        <label for="file-input" class="custom-file-upload"><i class="fas fa-cloud-upload-alt"></i> Choose a file</label>
        <input type="file" name="image" id="file-input" />
        <button class='btn long-btn upload-btn' type="submit">Upload Image</button>
    </form>
</div>

<p>
  <a href="/blocklist"><button class='btn long-btn upload-btn'>Edit My Blocklist</button></a>
</p>
<form autocomplete="none" id='deleteUserForm'>
  <label for='username'>To delete your account, enter your username below and click 'Delete Account.' This action cannot be undone.</label>
  <input autocomplete="off" class="form-field" type="text" name="username" id="username" placeholder='{{user.username}}' />
  <button type="submit" class='btn long-btn upload-btn'>Delete Account</button>
</form>
<script>
    // plug the sound enable/disable button into local storage
    let soundEnabled = localStorage.getItem("soundEnabled") || 0;
    document.getElementById('mute-sound-btn').textContent = soundEnabled == 0 ? 'Enable Chat Sounds' : 'Disable Chat Sounds';

    const soundDemo = new Audio('/sounds/msg_sent.wav')

    document.getElementById('mute-sound-btn').addEventListener('click', () => {
      soundEnabled = soundEnabled == 0 ? 1 : 0;
      localStorage.setItem("soundEnabled", soundEnabled);
      if (!soundEnabled) soundDemo.play();
      document.getElementById('mute-sound-btn').textContent = soundEnabled == 0 ? 'Enable Chat Sounds' : 'Disable Chat Sounds';
    });
    // fill out user's previous information - a tricky feat with the dropdown lists
    const userPrevGender = '{{user.gender_identity}}';
    const userPrevSexuality = '{{user.sexual_orientation}}';
    const userPrevState = '{{user.state}}';
    const userPrevEducation = '{{user.education}}';
    if (userPrevGender) document.querySelector(`option[value='${userPrevGender}']`).selected = true;
    if (userPrevSexuality) document.querySelector(`option[value='${userPrevSexuality}']`).selected = true;
    if (userPrevState) document.querySelector(`option[value='${userPrevState}']`).selected = true;
    if (userPrevEducation) document.querySelector(`option[value='${userPrevEducation}']`).selected = true;
    // update profile form handler
    document.getElementById('editorForm').addEventListener('submit', async (e) => {
        e.preventDefault();

        const userInfo = {};

        const [...profileInputs] = document.getElementsByClassName('profile-input');
        profileInputs.forEach(input => {
            userInfo[input.name] = input.value;
        })

        const [...skillInputs] = document.getElementsByClassName('skill-input');
        skillInputs.forEach(skill => {
            if (skill.checked) userInfo[skill.name] = true;
        })

        if (userInfo.first_name && userInfo.first_name.length > 20) {
            document.getElementById('err-msg').innerHTML +=
            '<li>Your first name cannot be longer than 20 characters.</li>';
            return;
        }

        if (userInfo.last_name && userInfo.last_name.length > 20) {
            document.getElementById('err-msg').innerHTML +=
            '<li>Your last name cannot be longer than 20 characters.</li>';
            return;
        }

        if (userInfo.city && userInfo.city.length > 20) {
            document.getElementById('err-msg').innerHTML +=
            '<li>Your city name cannot be longer than 20 characters. Try using abbreviations.</li>';
            return;
        }

        if (userInfo.github && userInfo.github.includes('github.com')) {
            document.getElementById('err-msg').innerHTML +=
            '<li>Your Github username should only be your username, not the URL to your GitHub profile.</li>';
            return;
        }
    
        if (userInfo.github && userInfo.github.length > 20) {
            document.getElementById('err-msg').innerHTML +=
            '<li>Your Github username should not be longer than 20 characters.</li>';
            return;
        }

        if (userInfo.portfolio && userInfo.portfolio.length > 50) {
            document.getElementById('err-msg').innerHTML +=
            '<li>Your portfolio URL should not be longer than 50 characters.</li>';
            return;
        }

        if (userInfo.bio && userInfo.bio.length > 2000) {
            document.getElementById('err-msg').innerHTML +=
            '<li>Your bio should not be longer than 2,000 characters.</li>';
            return;
        }

        const response = await fetch('/api/users/profile', {
            method: 'post',
            body: JSON.stringify(userInfo),
            headers: { 'Content-Type': 'application/json' },
        });

        if (response.ok) {
            document.location.replace(`/profile/{{user.id}}/`);
        } else {
            document.getElementById('err-msg').innerHTML =
                '<li>Something went wrong. Are you sure the username and password are correct?</li>';
        }
    });
    
    // delete user form handler
    document.getElementById('deleteUserForm').addEventListener('submit', async (e) => {
        e.preventDefault();
        const deleteConfirmed = document.getElementById('username').value === '{{user.username}}';
        if (deleteConfirmed) {
            const response = await fetch(`/api/users/{{user.id}}`, {
                method: 'delete',
                headers: { 'Content-Type': 'application/json' },
            });
            if (response.ok) {
            document.location.replace(`/`);
            } else {
            document.getElementById('err-msg').innerHTML =
                '<li>Something went wrong. Please try again later.</li>';
            }
        } else {
            document.getElementById('err-msg').innerHTML =
                `<li>If you're trying to delete your account, please enter your username exactly as it appears in the input field.'</li>`;
        }
    });
</script>