<form id='profile-edit-form'>
    <legend>{{username}}'s Profile Editor</legend>
    <p>All fields are optional, but filling out your profile will allow other users to find you more easily!</p>
    <div>
        <label for='first_name'>First name</label>
        <input class='profile-input' type='text' name='first_name' id='first_name' value='{{user.first_name}}'>
    </div>
    <div>
        <label for='last_name'>Last name</label>
        <input class='profile-input' type='text' name='last_name' id='last_name' value='{{user.last_name}}'>
    </div>
    <div>
        <label for='gender_identity'>Gender identity</label>
        {{> genders-dropdown }}
    </div>
    <div>
        <label for='sexual_orientation'>Sexual orientation</label>
        {{> sexuality-dropdown }}
    </div>
    <div>
        <label for='birthday'>Birthday</label>
        <input class='profile-input' type='date' name='birthday' id='birthday' value='{{user.birthday}}'>
    </div>
    <div>
        <label for="yearStartCoding">How many years have you been coding?</label>
        <input class='profile-input' type='number' name='yearStartCoding' id='yearStartCoding' value='{{user.yearStartCoding}}'>
    </div>
    <div>
        <label for='github'>GitHub username</label>
        <input class='profile-input' type='text' name='github' id='github' value='{{user.github}}'>
    </div>
    <div>
        <label for='portfolio'>Portfolio URL</label>
        <input class='profile-input' type='url' name='portfolio' id='portfolio' value='{{user.portfolio}}'>
    </div>
    <div>
        <label for='bio'>Add a user bio</label>
        <textarea class='profile-input' name='bio' id='bio'>{{user.bio}}</textarea>
    </div>
    <div>
        <p>Where are you located?</p>
        <label for='city'>City</label>
        <input class='profile-input' type='text' name='city' id='city' value='{{user.city}}'>
        <div>
            <label for="state">State:</label>
            {{> states-dropdown}}
        </div>
    </div>
    <div>
        <label for='bio'>What is your highest level of education?</label>
        <select class='profile-input' name='education' id='education' value="{{user.education}}">
            <option value='Boot Camp Certification'>Boot Camp Certification</option>
            <option value='High School'>High School</option>
            <option value='Associate\'s Degree'>Associate's Degree</option>
            <option value='Bachelor\'s Degree'>Bachelor's Degree</option>
            <option value='Master\'s Degree'>Master's Degree</option>
            <option value='Doctoral Degree'>Doctoral Degree</option>
        </select>
    </div>

    <div><br />
        Select your skills (do not check any boxes if you do not wish to update your entire skillset):<br />
        {{> skills-checkboxes }}
    </div>

    <div>
        <button type='submit'>Update Profile</button>
    </div>

    <div id="err-message"></div>
</form>
<br /><br />
Current profile image:<br />
<img src="{{user.profile_image}}" />

<form id='image-form' name='image-form' action='/api/images/upload' enctype="multipart/form-data" method='post'>
  <input type="file" name="image" id="file-input" />
  <button type="submit">Upload Image</button>
</form>

<p>
  <a href="/blocklist">Edit my blocklist.</a>
</p>


<script>
    const profileEditForm = document.getElementById('profile-edit-form');

    // pre-select previously-selected options
    const prevUserGender = '{{user.gender_identity}}'
    const prevUserSexuality = '{{user.sexual_orientation}}'
    const prevUserState = '{{user.state}}';
    const prevUserEducation = '{{user.education}}';
    
    if (prevUserGender) 
        document.querySelector(`[value='${prevUserGender}']`).selected = true;
    
    if (prevUserSexuality)
        document.querySelector(`[value='${prevUserSexuality}']`).selected = true;

    if (prevUserState)
        document.querySelector(`[value='${prevUserState}']`).selected = true;

    if (prevUserEducation)
        document.querySelector(`[value='${prevUserEducation}']`).selected = true;

    async function profileEditFormHandler(e) {
        e.preventDefault();
        const userData = {};

        // gather profile inputs, store in userData
        const profileInputs = document.getElementsByClassName('profile-input');
        for (let input of profileInputs) {
            if (input.value) {
            userData[input.id] = input.value;
            }
        }

        // gather skill inputs, store in userData
        const skillInputs = document.getElementsByClassName('skill-input');
        for (let input of skillInputs) {
            if (input.checked) {
            userData[input.id] = true;
            }
        }

        const response = await fetch('/api/users/profile', {
            method: 'post',
            body: JSON.stringify(userData),
            headers: { 'Content-Type': 'application/json' },
        });
        
        if (response.ok) {
            document.location.replace(
            `/profile/{{userID}}`
            );
        } else {
            document.getElementById('err-message').innerHTML =
            'Something went wrong! Try again later.<br />';
        }
    }

    profileEditForm.addEventListener('submit', profileEditFormHandler);
</script>