<script>

function sendSpark() {
  socket.emit('spark', { matchThisUser: '{{user.id}}' });
}

function deSpark() {
  socket.emit('despark', { unmatchThisUser: '{{user.id}}' });
}

</script>

<h2>{{user.username}}'s Profile</h2>

{{#if (ownProfile user.id userID)}}
<br />
<p><a href="/profile/editor/">Edit your profile.</a></p>
<br />
{{else}}
<br />
<p><a href="/chat/{{user.id}}">Chat with this user.</a></p>
<br />
{{#if notMatched }}
  <p><a id="match-btn" href="/profile/{{user.id}}" onclick='sendSpark()'>Light a spark...</a></p>
  {{else}}
  <p><a id="unmatch-btn" href="/profile/{{user.id}}" onclick='deSpark()'>Extinguish the spark...</a></p>
{{/if}}
{{/if}}

{{#if user.first_name}}<p>First name: {{user.first_name}}</p>{{/if}}
{{#if user.last_name}}<p>Last name: {{user.last_name}}</p>{{/if}}
{{#if user.bio}}<p id="profile-bio">Bio: {{user.bio}}</p>{{/if}}
{{#if user.portfolio}}<p>Portfolio: <a href="{{user.portfolio}}" target="new">{{user.portfolio}}</a></p>{{/if}}
{{#if user.github}}<p>Github: <a href="https://github.com/{{user.github}}" target="new">{{user.github}}</a></p>{{/if}}
{{#if user.gender_identity}}<p>Gender identity: {{user.gender_identity}}</p>{{/if}}
{{#if user.sexual_orientation}}<p>Sexual orientation: {{user.sexual_orientation}}</p>{{/if}}
{{#if user.birthday}}<p>Birthday: {{user.birthday}}</p>{{/if}}
{{#if user.yearStartCoding}}<p>Years Coding: {{user.yearStartCoding}}</p>{{/if}}
{{#if user.city}}<p>City: {{user.city}}</p>{{/if}}
{{#if user.state}}<p>State: {{user.state}}</p>{{/if}}
{{#if user.education}}<p>Highest Education: {{user.education}}</p>{{/if}}
<br />

{{#if skills}}
<ul>
  {{#each skills}}
    <li>{{this.skill_name}}</li>
  {{/each}}
</ul>
{{/if}}

{{#if user.profile_image}}Profile Picture
<img src='{{user.profile_image}}' />
{{/if}}

{{#if user.github}}
<div id="containter">
    <div>
        <a href="https://github.com/{{user.github}}">
        <span id="githubusername">
        {{user.github}}
        </span>
        </a>
        <div id="repoContainerEl">

        </div>
    </div>
</div>
<script src="/js/gitStarred.js"></script>
{{/if}}