<h2>{{user.username}}'s Profile</h2>

{{#if (ownProfile user.id userID)}}
<br />
<p><a href="/profile/editor/">Edit your profile.</a></p>
<br />
{{else}}
<br />
<p><a href="/chat/{{user.id}}">Chat with this user.</a></p>
<br />
{{/if}}

{{#if user.bio}}<p>Bio: {{user.bio}}</p>{{/if}}
{{#if user.github}}<p>Github: {{user.github}}</p>{{/if}}
{{#if user.birthday}}<p>Birthday: {{user.birthday}}</p>{{/if}}
{{#if user.yearStartCoding}}<p>Years in Coding: {{user.yearStartCoding}}</p>{{/if}}
{{#if user.city}}<p>City: {{user.city}}</p>{{/if}}
{{#if user.state}}<p>State: {{user.state}}</p>{{/if}}
{{#if user.education}}<p>Highest Education: {{user.education}}</p>{{/if}}
<br />
{{#if user.profile_image}}Profile Picture
<img src='{{user.profile_image}}' />{{/if}}