<div id="chat-wrapper">

<h2>Search Results</h2>

{{#if users}}
<div class="results">
{{#each users}}
  <div class="result">
    <a href="/profile/{{this.id}}">
    {{#if this.profile_image}}
    <div class="result-img" style="background-image: url('{{this.profile_image}}')"></div>
    {{else}}
    <div class="result-img" style="background-image: url('https://picsum.photos/200')"></div>
    {{/if}}
    </a>

    <div class="result-info">
      <p><a href="/profile/{{this.id}}">{{this.username}}</a></p>

      {{#if this.github}}<p><a href="https://github.com/{{this.github}}" target="new">https://github.com/{{this.github}}</a></p>{{/if}}

      <p>{{locationFormatter this.city this.state}}</p>

      <p>{{interestFormatter this.sexual_orientation this.gender_identity}}</p>

      <p><a href="/chat/{{this.id}}">Start a conversation...</a></p>
    </div>
  </div>
{{/each}}
</div>
{{else}}
<p>Sorry, no users found! <a href="/search">Try another search.</a></p>
{{/if}}

</div>